@import 'src/components/resume/Experience/Experience.module.scss';

.experienceList {
  @include expList;

  .editExperience {
    @include editExperience(3.5rem);

    .experience {
      @include experience;

      .header {
        @include expHeader;

        .headerLine {
          @include expHeaderLine;

          .titleWithType {
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;

            .title {
              @include expTitle;
            }
  
            .workType {
              @include expWorkType;
            }
          }
          
          .datesWithTime {
            @include expDatesWithTime;
            
            .dates {
              @include expDates;
            }
          }
        }

        .placeAndLocation {
          @include expPlaceAndLocation;

          .place {
            @include expPlace;
          }

          .placeLink {
            @include expPlaceLink;
          }
          
          .placeLocation {
            @include expPlaceLocation;
          }
        }

        .topic {
          @include expTopic;
        }
      }

      .description {
        @include expDescription;
      }

      @include experienceHidden;
    }
  }

  .addExperience {
    @include expAdd;
  }
}
