@import 'src/styles/common/variables';

$hiddenColor: gray !important;

.sectionHidden {
  color: $hiddenColor;

  span,
  input,
  input::placeholder {
    color: $hiddenColor;
  }
}

$controlHeaderColor: black;
$mainInfoColor: black;
$addInfoColor: #666;
$addInfoLinkColor: #666;

$controlHeaderFontSize: 1.25rem;

$expHeaderFontSize: 1.15rem;
$expAddInfoFontSize: 1.1rem;
$expDescrFontSize: 1rem;

$infoNameFontSize: calc(1.5 * $controlHeaderFontSize);
$infoAddFontSize: calc($infoNameFontSize / 1.85);
$infoSumFontSize: $expDescrFontSize;

$onExportFontScale: 1.25;

@mixin section {
  h2 {
    margin: 0;
  }

  svg {
    margin: 0;
    margin-right: calc(#{$padding-experience} / 3);
    width: calc(2 * #{$padding-experience} / 3);
  }
}

.controlHeader {
    display: flex;
    justify-content: space-between;
    font-size: $controlHeaderFontSize;
    color: $controlHeaderColor;
    padding-top: 0.1rem;

    @at-root .singlePage#{&} {
      font-size: calc($controlHeaderFontSize / $onExportFontScale);
    }

    &.singlePage {
      // border-bottom: 2px solid $controlHeaderColor;
      // border-bottom: 2px solid transparent;
      // border-image: linear-gradient(0.25turn, $controlHeaderColor, rgba(255, 255, 255, 0));
      // border-image-slice: 1;
      border-bottom: 2px solid $controlHeaderColor;
      padding-bottom: 0.2rem;
      margin-bottom: 0.4rem;
    }
    
    @include section;

    .controls {
      display: inline-block;

      .order {
        display: inline-block;
        margin: 0.3rem 0;
      }

      .visibilityButton,
      .editButton,
      .deleteButton {
          padding: 0 0.2rem;
          background-color: transparent;
          border: 0;
      }

      .visibilityButton {
          color: orange;

          &:hover {
            color: rgb(173, 115, 7);
          }
      }

      .editButton {
          color: #4caf50;

          &:hover {
            color: #3e8e41;
          }

          &.isEditing {
            color: red;
        
            &:hover {
              color: orange;
            }
          }
      }
    }
}

.inlineIconLeft {
  display: inline;
  margin-right: 0.3rem;
}
