$hiddenColor: gray !important;

.sectionHidden {
  color: $hiddenColor;

  span,
  input,
  input::placeholder {
    color: $hiddenColor;
  }
}

$mainInfoColor: black;
$addInfoColor: #666;

$controlHeaderFontSize: 1.25rem;

$expHeaderFontSize: 1.15rem;
$expAddInfoFontSize: 1.1rem;
$expDescrFontSize: 1rem;

$infoNameFontSize: calc(1.5 * $controlHeaderFontSize);
$infoAddFontSize: calc($infoNameFontSize / 1.85);
$infoSumFontSize: $expDescrFontSize;

.controlHeader {
    display: flex;
    justify-content: space-between;
    font-size: $controlHeaderFontSize;
    padding-top: 1rem;

    .controls {
      display: inline-block;

      .visibilityButton,
      .editButton,
      .deleteButton {
          padding: 0 0.2rem;
          background-color: transparent;
          border: 0;
      }

      .visibilityButton {
          color: orange;

          &:hover {
            color: rgb(173, 115, 7);
          }
      }

      .editButton {
          color: #4caf50;

          &:hover {
            color: #3e8e41;
          }

          &.isEditing {
            color: red;
        
            &:hover {
              color: orange;
            }
          }
      }
    }
}
