@import 'src/components/resume/common/common.module.scss';
@import 'src/components/resume/Experience/common.module.scss';

@mixin expPlace {
    margin: 0;
    color: $addInfoColor !important;
    font-size: $expAddInfoFontSize;

    @at-root .exportPdf#{&} {
      @at-root .singlePage#{&} {
        font-size: calc($expAddInfoFontSize / $onExportFontScale);
      }
    }

    a,
    a:visited,
    a:hover,
    a:active {
        display:inline-block;
        color: $addInfoLinkColor;
        text-decoration: none;
    }

    h4 {
        font-weight: normal;
        margin: 0;
        padding: 0;
    }

    & span {
        @include expBlockEdit;
    }
}

@mixin expPlaceLink {
    font-size: $expAddInfoFontSize;
    color: $addInfoColor !important;
    font-weight: normal;
    margin: 0;
    padding: 0;

    & span {
        @include expBlockEdit;
    }
}

@mixin expPlaceLocation {
    color: $addInfoColor !important;
    font-size: $expAddInfoFontSize;

    & span {
        @include expBlockEdit;
    }

    @at-root .exportPdf#{&} {
        @at-root .singlePage#{&} {
          font-size: calc($expAddInfoFontSize / $onExportFontScale);
        }
    }
}

@mixin expPlaceInline {
    flex-direction: row;

    .place::after {
        content: "\00a0(";
    }
    .placeLocation::after {
        content: ")";
    }
}

@mixin expPlaceAndLocation {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-size) {
        &{
            @include expPlaceInline;
        }
    }

    @at-root .exportPdf#{&} {
        @include expPlaceInline;
        
        @at-root .singlePage#{&} {
          font-size: calc($expAddInfoFontSize / $onExportFontScale);
        }
    }
}
