@import 'src/styles/common/variables';

@mixin experience {
    margin: $margin-experience $padding-experience 0rem $padding-experience;
    border-bottom: 1px solid #ccc;

    @at-root .singlePage#{&} {
        margin: $margin-experience 0 0 0;
    }


    width: 100%;

    &.last {
        border: 0;
    }

    &.admin {
        margin-left: 0;
    }
}
  
@mixin experienceHidden {
    &.hidden {
        color: lightgray !important;
        
        .place {
        color: lightgray !important;
        }
        
        .placeLocation {
        color: lightgray !important;
        }
    }
}
