@import 'src/components/resume/common/common.module.scss';



$date-input-width-mobile: calc(5.1 * $expAddInfoFontSize);
$date-input-width: calc(4.95 * $expHeaderFontSize);

$date-input-width-export: calc(5.05 * $expHeaderFontSize);
$dates-dash-padding: 0.3rem;
$date-input-width-current: calc(0.58 * $date-input-width);
$date-input-width-current-export: calc(0.71 * $date-input-width);
$date-input-single-width: calc(0.6 * $date-input-width);

@mixin expDatesWithTime {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet-size) {
        flex-direction: row;
    }

    .time {
        display: inline-block;
        margin: 0;
        margin-right: 0.5rem;
        color: $addInfoColor;
        font-size: $expAddInfoFontSize;
    
        @media (min-width: $tablet-size) {
            font-size: $expHeaderFontSize;
        }
    }
}

@mixin expDates {
    color: $addInfoColor;
    font-size: $expAddInfoFontSize;

    & {
        --date-input-width: #{$date-input-width-mobile};
    }

    @media (min-width: $tablet-size) {
        & {
            --date-input-width: #{$date-input-width};
        }
    }

    @media (min-width: $tablet-size) {
        color: black;
        font-size: $expHeaderFontSize;
    }

    ::placeholder {
        color: black;
        opacity: 1;
    }

    .datesDash {
        padding: 0 $dates-dash-padding;
    }

    .setCurrent {
        display: block;
        font-weight: bold;
        margin-left: 6.1rem;
        border: none;
        background-color: transparent;
        color: #4caf50;

        &:hover {
        color: #3e8e41;
        }
    }

    .datePicker {
        display: inline-block;
        position: relative;
        width: var(--date-input-width);
        padding: 0;
        margin: 0;
            
        &.export {
            width: $date-input-width-export;
            input {
                width: $date-input-width-export;
            }
        }

        &.current {
            width: $date-input-width-current-export;

            input {
                width: $date-input-width-current-export;
                color: $addInfoColor;
                font-size: $expAddInfoFontSize;

                &::placeholder {
                    color: $addInfoColor;
                    font-size: $expAddInfoFontSize;
                }
            }

            @media (min-width: $tablet-size) {
                width: $date-input-width-current;

                input {
                    width: $date-input-width-current;
                    color: black;
                    font-size: $expHeaderFontSize;

                    &::placeholder {
                        color: black;
                        font-size: $expHeaderFontSize;
                    }
                }
            }
            
            &.export {
                width: $date-input-width-current-export;
                input {
                    width: $date-input-width-current-export;
                    color: black;
                    font-size: $expHeaderFontSize;
                }
            }
        }

        div {
            display: inline-block;
            padding: 0;
            margin: 0;

            input {
                display: inline-block;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
                padding: 0;
                margin: 0;
                border-radius: 0;
                border: none;
                margin: auto;
                width: var(--date-input-width);
                pointer-events: none;
                color: $addInfoColor;
                font-size: $expAddInfoFontSize;

                &.editingStartDate,
                &.editingEndDate,
                &.editingDate {
                    pointer-events: all;
                }
            
                @media (min-width: $tablet-size) {
                    color: black;
                    font-size: $expHeaderFontSize;
                }
            }
        }
    }
}

@mixin expDate {
    @include expDates;
    width: var(--date-input-width);
    input {
        @media (min-width: $tablet-size) {
            text-align: right;
        }
        width: var(--date-input-width);
    }
}
