@import 'src/styles/common/variables';

@mixin expHeaderLine {
    display: contents;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  
    @media (min-width: $desktop-size) {
      &{
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
      }
    }

    @at-root .exportPdf#{&} {
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
    }
}
