@import 'src/components/resume/Experience/Experience.module.scss';

// .eduExperienceList {
//   @include experienceList(edu);
// }

// .editExperience {
//   @include editExperience(3.5rem);
// }

// .eduExperience {
//   @include experience(place);

//   .addInfo {
//     margin-top: 0.5rem;

//     .grade,
//     .topic {
//       margin-left: 0.3rem;
//       min-width: 50px;
//     }
//   }
// }

.experienceList {
  @include expList;

  .editExperience {
    @include editExperience(3.5rem);

    .experience {
      @include experience;

      .header {
        @include expHeader;

        .headerLine {
          @include expHeaderLine;

          .title {
            @include expTitle;
          }
          
          .datesWithTime {
            @include expDatesWithTime;
            
            .dates {
              @include expDates;
            }

            .time {
              @at-root .singlePage#{&} {
                display: none;
              }
            }
          }
        }

        .placeAndLocation {
          @include expPlaceAndLocation;

          .place {
            @include expPlace;
          }

          .placeLink {
            @include expPlaceLink;
          }
          
          .placeLocation {
            @include expPlaceLocation;
          }
        }

        .gradesAndTopic {
          display: flex;
          flex-direction: column;
      
          @media (min-width: $desktop-size) {
              &{
                  flex-direction: row;
              }
          }

          @at-root .exportPdf#{&} {
            flex-direction: row;
          }

          &.editing {
            flex-direction: column;
          }

          .grades {
            @include expGrades;

            @media (min-width: $desktop-size) {
              &::after {
                  content: ",\00a0";
              }
            }

            @at-root .exportPdf#{&} {
              &::after {
                  content: ",\00a0";
              }
            }
          }

          .topic {
            @include expTopic;
          }
        }
      }

      .description {
        @include expDescription;
      }

      @include experienceHidden;
    }
  }

  .addExperience {
    @include expAdd;
  }
}
