@import 'src/styles/common/variables';

.editResume {
  cursor: pointer;
  z-index: 10;
  margin: calc(#{$page-padding}/2) $page-padding-sides 0 $page-padding-sides;

  .edit {
    width: 5.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: #4caf50;

    &:hover {
      background-color: #3e8e41;
    }
  }
  
  .stop {
    width: 5.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: red;
    &:hover {
      background-color: orange;
    }
  }
}

/* Mobile */
#root {
  padding: $page-padding;
}

/* Tablet */
@media (min-width: $tablet-size) {
  #root {
    padding: $page-padding calc(#{$page-padding-sides} / 2);
  }
}

/* Desktop */
@media (min-width: $desktop-size) {
  #root {
    margin: $page-padding $page-padding-sides;
    padding: $page-padding $page-padding;
    background-color: white;
    box-shadow: 0.1rem 0.125rem 0.25rem 0.1rem rgb(0 0 0 / 11%);
  }
}

.resume {
  font-family: 'Tw Cen MT Condensed', sans-serif !important;
  font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif !important;
  font-family: 'Tw Cen MT', sans-serif !important;

  .sectionHidden {
    color: gray !important;
  
  }

  h2 {
    margin: 0;

    svg {
      margin-right: calc(#{$padding-experience} / 3);
      width: calc(2 * #{$padding-experience} / 3);
    }
  }
}

$button-width: 70px;
$button-height: calc($button-width / 2);
$button-margin: 15px;

.downloadButton {
  z-index: 20;
  position: sticky;
  top: calc(100% - $button-width - $button-margin);
  left: calc(100% - $button-width - $button-margin);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $button-width;
  padding: calc($button-width / 4) 0 calc($button-width / 4) 0;
  margin: -$button-height 0;
  width: $button-width;
  height: $button-height;
  text-decoration: none;
  transition: .3s;
  color: green;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  &:hover{
    background-color: rgb(221, 255, 221);
  }

  @media (min-width: $desktop-size) {
    top: calc(100% - $button-width - 2 * $button-margin);
    left: calc(100% - 2 * $page-padding - $page-padding-sides / 2);
  }
}
