@import 'src/styles/common/variables';

$button-width: 70px;
$button-height: calc($button-width / 2);
$download-button-margin: 15px;
$edit-button-margin: 15px;

.editResume {
  z-index: 20;
  position: fixed;
  bottom: calc(2 * $button-width + $edit-button-margin);
  right: $download-button-margin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $button-width;
  padding: calc($button-width / 4) 0 calc($button-width / 4) 0;
  margin: -1.5*$button-height 0;
  width: $button-width;
  height: $button-height;
  text-decoration: none;
  transition: .3s;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  @media (min-width: $desktop-size) {
    right: calc($page-padding-sides / 4);
  }

  &.edit {
    color: #4caf50;

    &:hover {
      background-color: rgb(221, 255, 221);
    }
  }
  
  &.stop {
    color: red;

    &:hover {
      background-color: orange;
    }
  }
}

/* Mobile */
#root {
  padding: $page-padding;

  &.forExport {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
}

/* Tablet */
@media (min-width: $tablet-size) {
  #root {
    margin: 0;
    padding: $page-padding;
  }
}

/* Desktop */
@media (min-width: $desktop-size) {
  #root {
    max-width: 1200px;
    margin: $page-padding auto;
    padding: 3rem 5rem;
    background-color: white;
    box-shadow: 0.1rem 0.125rem 0.25rem 0.1rem rgb(0 0 0 / 11%);
  }
}

.resume {
  font-family: 'Tw Cen MT Condensed', sans-serif !important;
  font-family: 'Tw Cen MT Condensed Extra Bold', sans-serif !important;
  font-family: 'Tw Cen MT', sans-serif !important;

  .sectionHidden {
    color: gray !important;
  
  }

  h2 {
    margin: 0;

    svg {
      margin-right: calc(#{$padding-experience} / 3);
      width: calc(2 * #{$padding-experience} / 3);
    }
  }
}

.downloadButton {
  z-index: 20;
  position: fixed;
  bottom: $button-width / 2 + $download-button-margin;
  right: $download-button-margin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $button-width;
  padding: calc($button-width / 4) 0 calc($button-width / 4) 0;
  margin: -$button-height 0;
  width: $button-width;
  height: $button-height;
  text-decoration: none;
  transition: .3s;
  color: #4caf50;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  &:hover{
    background-color: rgb(221, 255, 221);
  }

  @media (min-width: $desktop-size) {
    right: calc($page-padding-sides / 4);
  }
}

.restButton {
  z-index: 20;
  position: fixed;
  bottom: calc(3 * $button-width + $edit-button-margin);
  right: $download-button-margin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $button-width;
  padding: calc($button-width / 4) 0 calc($button-width / 4) 0;
  margin: -$button-height 0;
  width: $button-width;
  height: $button-height;
  text-decoration: none;
  transition: .3s;
  color: #4caf50;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);

  &:hover{
    background-color: rgb(221, 255, 221);
  }

  @media (min-width: $desktop-size) {
    right: calc($page-padding-sides / 4);
  }
}

.restPanel {
  z-index: 19;
  position: fixed;
  bottom: calc(2.6 * $button-width + $edit-button-margin);
  right: calc($download-button-margin + $button-width + 0.5rem);
  width: 8rem;
  // border: 1px solid black;
  background-color: white;
  display: none;

  &.opened {
    display: initial;
  }

  .restEl {
    text-align: center;
    padding: 0.2rem 1rem 0.2rem 0;
    margin: 0;
    transition: .3s;
    cursor: pointer;

    &:hover{
      background-color: rgb(221, 255, 221);
    }
  }
}
