@import 'src/components/resume/common/common.module.scss';
@import 'src/components/resume/Experience/common.module.scss';

@mixin expGrades {
    font-size: $expAddInfoFontSize;
    color: $addInfoColor !important;

    span {
        font-size: $expAddInfoFontSize;
        margin-left: 0.3rem;
    }

    &.editing {
        span {
            @include expBlockEdit;
        }
    }
}
