@import 'src/components/resume/Experience/Experience.module.scss';

.experienceList {
  @include expList;

  .editExperience {
    @include editExperience(3.5rem);

    .experience {
      @include experience;

      .header {
        @include expHeader;

        .headerLine {
          @include expHeaderLine;

          .titleAndWebsites {
            display: flex;
            flex-direction: column;
        
            @media (min-width: $desktop-size) {
                &{
                    flex-direction: row;
                }
            }

            &.editing {
              display: unset;
            }

            .title {
              @include expTitle;
        
              @media (min-width: $desktop-size) {
                  &{
                      margin-right: 0.3rem;
                  }
              }
            }

            .websites {
              @include expWebsites;
        
              @media (min-width: $desktop-size) {
                  &{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  .separator {
                    margin-right: 0.3rem;
                  }
              }
            }
          }
          
          .datesWithTime {
            @include expDatesWithTime;
            
            .dates {
              @include expDates;
            }
          }
        }
      }

      .description {
        @include expDescription;
      }

      @include experienceHidden;
    }
  }

  .addExperience {
    @include expAdd;
  }
}

