@import 'src/components/resume/Experience/Experience.module.scss';
@import 'src/components/resume/common/common.module.scss';

.projectsList {
  @include experienceList(project);

  .editExperience {
    @include editExperience(3.5rem);
  
    .project {
      @include experience(websites);

      .websites {
        .website {
          display: inline-block;
          margin: 0;
          padding-right: 0.3rem;

          a,
          a:visited,
          a:hover,
          a:active {
            color: inherit;
            text-decoration: none;
          }
        }
      }
      .websitesEdit {

        .websiteAdd {
          display: inline-block;
          color: #4caf50;
          background: transparent;
          border: none;
  
          &:hover {
              color: #3e8e41;
          }
        }
        
        .websiteEdit {
          display: flex;

          .deleteButton {
              color: red;
              padding: 0;
              background-color: transparent;
              border: 0;
      
              svg {
                  padding: 0 0.3rem;
              }

              &:hover {
                color: crimson;
              }
          }

          .websiteName {
            p {
              display: inline-block;
              margin: 0 0.3rem 0 0;
              padding: 0;
              min-width: 50px;
            }
          }
          
          .websiteLink {
            p {
              display: inline-block;
              margin: 0 0.3rem 0 0;
              padding: 0;
              min-width: 50px;
            }
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
