@import 'src/components/resume/common/common.module.scss';
@import 'src/styles/common/variables';

@mixin expDescription {
    line-height: $description-line-height;
    margin-bottom: $margin-experience;
    font-size: $expDescrFontSize;
  
    .clamp {
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      // display: -webkit-flex;
      // display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      background: -webkit-linear-gradient(#000, #fff);
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#000),
        to(#fff)
      );
      -webkit-background-clip: text;
      background-clip: text;
  
      @media (min-width: $tablet-size) {
        &{
          -webkit-line-clamp: 3;
          line-clamp: 3;
        }
      }
    }
    
    .clampButton {
      padding: 10px 20px;
      color: $mainInfoColor;
      background-color: white;
      box-shadow: 0 -30px 0 rgb(white, .7);
      border: 0;
      width: 100%;
      margin-top: -1rem;
      transition: all 0.3s ease-in-out;
  
      &:hover {
        background-color: #fafafa;
      }
  
      svg {
        margin-left: 0.5rem;
      }
  
      &.expanded {
        box-shadow: none;
        margin-top: 0rem;
      }
    }
  
    p {
      margin: 0;
      // padding: 0 0 0.5rem 0;
      padding: 0;
    }
  
    ul {
      margin: 0;
      // padding: 0 0 0.5rem 1.5rem;
      padding: 0 0 0 1rem;
    }

    a {
      text-decoration: none;
    }
}