@import 'src/components/resume/Experience/Experience.module.scss';

// .publicationList {
//   @include experienceList(publication);
// }

// .editExperience {
//   @include editExperience(3.5rem);
// }

// .publication {
//   @include experience(conference);
//   margin-bottom: 1rem;

//   .addInfo {
//     margin-top: 0.5rem;

//     a,
//     a:visited,
//     a:hover,
//     a:active {
//       color: inherit;
//       text-decoration: none;
//     }

//     .topic {
//       display: inline-block;
//       margin-left: 0.3rem;
//       min-width: 50px;
//     }
//   }
// }

.experienceList {
  @include expList;

  .editExperience {
    @include editExperience(3.5rem);

    .experience {
      @include experience;
  
      @at-root .singlePage#{&} {
          margin: 0;
      }

      .header {
        @include expHeader;

        .headerLine {
          @include expHeaderLine;

          .title {
            @include expTitle;

            @at-root .singlePage#{&} {
              h3 {
                font-size: $expHeaderFontSize;
                font-weight: 100;
              }
            }
          }

          .date {
            @include expDate;
          }
        }

        .conference {
          @include expConference;

          @at-root .singlePage#{&} {
            font-size: $expHeaderFontSize;
          }
        }

        .conferenceLink {
          @include expConferenceLink;
        }
      }

      @include experienceHidden;
    }
  }

  .addExperience {
    @include expAdd;
  }
}

