@import 'src/styles/common/variables';

$link-icon-size: 50px;

.footer {
    background-color: #f5f5f7;
    width: 100%;
    color: black;
    text-align: center;

    margin-top: 2rem;
    padding: 1rem 0;

    p {
        margin: 0;
        padding: 0;
    }

    a {
        margin-left: 0.3rem;
        color: black;
        text-decoration: none;
    }

    .container {
        height: $footer-heigth;
        .links {
            margin: 0.3rem 0;

            .divider {
                font-size: large;
            }
            
            .link {
                margin: 0;
                padding: 0.5rem 0;
                display: inline-block;

                svg {
                    width: $link-icon-size;
                }
                
                &::before{
                    content: '';
                    position: absolute;
                    width: 0%;
                    transform: scaleX(0);
                    height: 2px;
                    background-color: black;
                    margin-top: 1.75rem;
                    transition: transform 150ms ease-in-out;
                }

                &:hover:before{
                    width: $link-icon-size;
                    transform: scaleX(1);
                }
            }
        }
    }
}
