@import 'src/components/resume/Experience/Experience.module.scss';

// .certificationList {
//   @include experienceList(certification);
// }

// .editExperience {
//   @include editExperience(3.5rem);
// }

// .certification {
//   @include experience(issuer);

//   .addInfo {
//     margin-top: 0.5rem;
//     margin-bottom: 1rem;  

//     a,
//     a:visited,
//     a:hover,
//     a:active {
//       color: inherit;
//       text-decoration: none;
//     }

//     .topic {
//       display: inline-block;
//       margin-left: 0.3rem;
//       min-width: 50px;
//     }
//   }
// }

.experienceList {
  @include expList;

  .editExperience {
    @include editExperience(3.5rem);

    .experience {
      @include experience;
  
      @at-root .singlePage#{&} {
          margin: 0;
      }

      .header {
        @include expHeader;

        .headerLine {
          @include expHeaderLine;
          
          .titleAndCredits {
            display: flex;
            flex-direction: column;
        
            @media (min-width: $desktop-size) {
                &{
                    flex-direction: row;
                }
            }

            @at-root .exportPdf#{&} {
              flex-direction: row;
            }

            &.editing {
              flex-direction: column;
            }

            .title {
              @include expTitle;

              h3 {
                font-size: $expHeaderFontSize;

                @at-root .singlePage#{&} {
                  font-weight: 400;
                }
              }
        
              @media (min-width: $desktop-size) {
                  &{
                      margin-right: 0.3rem;
                  }
              }
            
              @at-root .exportPdf#{&} {
                margin-right: 0.3rem;
              }
            }
          
            .issuerAndCredentials {
              color: $addInfoColor !important;
              font-size: calc(0.9 * $expAddInfoFontSize);

              span {
                @media (min-width: $desktop-size) {
                  margin-right: 0.3rem;
                }
            
                @at-root .exportPdf#{&} {
                  margin-right: 0.3rem;
                }
              }
        
              @media (min-width: $desktop-size) {
                  &{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  span {
                    margin-right: 0.3rem;
                  }
              }
            
              @at-root .exportPdf#{&} {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                  margin-right: 0.3rem;
                }
              }

              &.editing {
                display: unset;
              }

              .issuer {
                @include expIssuer;
                display: inline;
              }
      
              .credentialId {
                @include expCredentialId;
                display: inline;
              }
            }
    
            .issuerLink {
              @include expIssuerLink;
            }
    
            .credentialLink {
              @include expCredentialLink;
            }
          }

          .date {
            @include expDate;

            @at-root .singlePage#{&} {
              display: none;
            }
          }
        }
      }

      .description {
        @include expDescription;
      }

      @include experienceHidden;
    }
  }

  .addExperience {
    @include expAdd;
  }
}

