@import 'src/components/resume/Experience/Experience.module.scss';
@import 'src/components/resume/common/common.module.scss';

.certificationList {
  @include experienceList(certification);
}

.editExperience {
  @include editExperience(3.5rem);
}

.certification {
  @include experience(issuer);

  .addInfo {
    margin-top: 0.5rem;
    margin-bottom: 1rem;  

    a,
    a:visited,
    a:hover,
    a:active {
      color: inherit;
      text-decoration: none;
    }

    .topic {
      display: inline-block;
      margin-left: 0.3rem;
      min-width: 50px;
    }
  }
}
